/***************************TAG SELECTORS***********************/
body
{
  background-color: #BFCBA8;
}
hr
{

  border-style: none ;
  border-top: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
h3
{
  color: red
}
h1
{
    color: #66BFBF
}
.d
{
  color:yellow;
}
/*img
{
  background-color: black;
}*/
/*******************************************CLASS SELECTORS*******************************/
.Chicken:hover{

  background-color: green;
}
.Pizza{
  background-color: blue;
}
/********************************************ID SELECTORS*************************/
#Ksg{
  color: Black;
}
